<!DOCTYPE html>
<html>

<head>
    <title>Rifaract - Login</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <meta charset="utf-8">
</head>
<body><nav class="container-fluid"><ul><li><a href="/" class="contrast"><strong>Home</strong></a></li>

    <li><a href="/users" class="contrast"><strong>Usuários</strong></a></li></ul>
  <ul><li><a href="/logout" role="button" class="secondary"><strong>Logout</strong></a></li></ul></nav>
  <main class="container"><h3 class="title svelte-1isfyvf">Rifas
          <a href="/rifas/cria" role="button">Nova Rifa</a></h3>
      </main>
</body>